<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Form</title>
</head>
<body>
    <h1>Add an Assignment</h1>

    <form method="post">
        <label for="assignment">Assignment Name</label>
        <input type="text" name="assignment" id="assignment">
        <label for="score">Your Score</label>
        <input type="number" name="score" id="score">
        <label for="total">Total Possible Score</label>
        <input type="number" name="total" id="total">
        <input type="checkbox" name="completed" id="completed">
        <label for="completed">Have you completed this assignment?</label>
        <button type="submit">Add</button> <a href="/">Never mind</a>
    </form>
</body>
</html>